@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 300px) {
  /* FADE-IN FROM TOP */
  .slide-top {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  /* FADE-IN FROM BOTTOM */
  .slide-bottom {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  /* FADE-IN FROM LEFT */
  .slide-left {
    opacity: 0;
    -webkit-transform: translate(-40px, 0);
            transform: translate(-40px, 0);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  /* FADE-IN FROM RIGHT */
  .slide-right {
    opacity: 0;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  body {
    background-color: #f5f8e3;
    color: #263d5e;
    text-align: center;
  }
  body h2 {
    display: inline-block;
  }
  body h5 {
    text-align: center;
  }
  body hr {
    margin: 5% 0;
  }
  body .chgColour {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#5C258D), color-stop(72%, #4389A2), to(#afebea));
    background: linear-gradient(180deg, #5C258D 0%, #4389A2 72%, #afebea 100%);
    background: -webkit-linear-gradient(-90deg, #5C258D 0%, #4389A2 72%, #afebea 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body .lang-logo {
    font-size: 100px;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(67%, #263d5e), color-stop(72%, rgba(38, 61, 94, 0.961222)), color-stop(79%, rgba(38, 61, 94, 0.854779)), color-stop(86%, rgba(38, 61, 94, 0.738533)), to(rgba(38, 61, 94, 0)));
    background: linear-gradient(180deg, #263d5e 67%, rgba(38, 61, 94, 0.961222) 72%, rgba(38, 61, 94, 0.854779) 79%, rgba(38, 61, 94, 0.738533) 86%, rgba(38, 61, 94, 0) 100%);
    z-index: 1;
  }
  .navbar .pageLogo {
    color: #e5eac4 !important;
  }
  .navbar a {
    text-decoration: none;
    color: #263d5e;
    font-size: 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .navbar .navlinks {
    padding: 1%;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: auto;
  }
  .navbar .navlinks a {
    color: #e5eac4 !important;
    margin: 0 3%;
    position: relative;
  }
  .navbar .navlinks a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#5C258D), color-stop(20%, #4389A2));
    background: linear-gradient(90deg, #5C258D 0%, #4389A2 20%);
    bottom: 30px;
    /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navbar .navlinks a:hover::after {
    visibility: visible;
    bottom: -3px;
    /*アニメーションが止まる位置*/
    opacity: 1;
  }
  .navbar .navlinks a:link, .navbar .navlinks a:visited, .navbar .navlinks a:hover, .navbar .navlinks a:active {
    color: #263d5e;
  }
  .heroImage-desc {
    height: 30%;
  }
  .heroImage-desc .heroImage-profile {
    margin: auto;
    text-align: left;
  }
  .heroImage-desc .heroImage-profile h2 {
    font-size: 25px;
  }
  .heroImage-desc .heroImage-profile h1 {
    font-size: 40px;
  }
  .heroImage-desc .heroImage-profile h3 {
    font-size: 15px;
    font-weight: 500;
    color: #575757;
    padding: 15px 0;
    line-height: 24.6px;
    letter-spacing: 0.6px;
  }
  .heroImage-desc section {
    max-width: 300px;
    margin: 0 auto;
  }
  .heroImage-desc a.github_btn {
    position: relative;
    display: block;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
  }
  .heroImage-desc a.github_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: linear-gradient(155deg, #87b2b0 20%, #87b2b0 40%, #87b2b0 51%, #87b2b0 80%);
    border-radius: 7em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .heroImage-desc a.github_btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #263d5e;
    border-radius: 7em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  .heroImage-desc a.github_btn .btn_span {
    position: relative;
    display: block;
    padding: 1rem 5rem;
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
    overflow: hidden;
    z-index: +1;
  }
  .heroImage-desc a.github_btn .btn_span::before {
    content: "";
    position: absolute;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .heroImage-desc a.github_btn::after, .heroImage-desc a.github_btn .btn_span {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .heroImage-desc a.github_btn:hover::after, .heroImage-desc a.github_btn:hover .btn_span {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .heroImage-desc a.btn_08:hover .btn_span::before {
    -webkit-animation: shine 1s ease-in-out 1;
            animation: shine 1s ease-in-out 1;
  }
  .heroImage-desc .btn_span {
    color: #f5f8e3;
  }
  @-webkit-keyframes shine {
    0% {
      -webkit-transform: scale(1) rotate(45deg);
              transform: scale(1) rotate(45deg);
      opacity: 0;
    }
    10% {
      -webkit-transform: scale(1) rotate(45deg);
              transform: scale(1) rotate(45deg);
      opacity: 0.5;
    }
    20% {
      -webkit-transform: scale(4) rotate(45deg);
              transform: scale(4) rotate(45deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: scale(50) rotate(45deg);
              transform: scale(50) rotate(45deg);
      opacity: 0;
    }
  }
  @keyframes shine {
    0% {
      -webkit-transform: scale(1) rotate(45deg);
              transform: scale(1) rotate(45deg);
      opacity: 0;
    }
    10% {
      -webkit-transform: scale(1) rotate(45deg);
              transform: scale(1) rotate(45deg);
      opacity: 0.5;
    }
    20% {
      -webkit-transform: scale(4) rotate(45deg);
              transform: scale(4) rotate(45deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: scale(50) rotate(45deg);
              transform: scale(50) rotate(45deg);
      opacity: 0;
    }
  }
  .heroImage-pic {
    display: none;
  }
  .heroImage-pic img {
    background-image: url("./img/IMG_4782.jpeg");
    /* 表示する画像 */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: left top;
    border: 5px solid linear-gradient(90deg, #5C258D 0%, #4389A2 20%);
    /* 枠線を付加 */
  }
  .aboutme > p {
    font-size: 18px;
    text-align: left;
    margin-top: 5%;
  }
  .skills-1 {
    position: relative;
  }
  .skills-1 .progress-bar {
    color: #f5f8e3;
    background: #263d5e;
  }
  .skills-1 .skill-card-body {
    margin-bottom: 20%;
  }
  .skills-1 .htmlImg {
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: -3%;
    left: 18%;
  }
  .skills-1 .cssImg {
    width: 25%;
    border-radius: 50%;
    position: absolute;
    top: -6%;
    right: 18%;
  }
  .skills-1 .phpImg {
    width: 25%;
    border-radius: 50%;
    position: absolute;
    top: 63%;
  }
  .skills-1 img {
    display: none;
  }
  .skills-2 {
    position: relative;
  }
  .skills-2 .progress-bar {
    color: #f5f8e3;
    background-color: #263d5e;
  }
  .skills-2 .skill-card-body {
    margin-bottom: 20%;
  }
  .skills-3 {
    position: relative;
  }
  .skills-3 .progress-bar {
    color: #f5f8e3;
    background-color: #263d5e;
  }
  .skills-3 .skill-card-body {
    margin-bottom: 20%;
  }
  .skills-4 {
    position: relative;
  }
  .skills-4 .progress-bar {
    color: #f5f8e3;
    background-color: #263d5e;
  }
  .skills-4 .skill-card-body {
    margin-bottom: 20%;
  }
  .education {
    text-align: center;
    position: relative;
  }
  .education .edu-1, .education .edu-2 {
    text-align: center;
    width: 100%;
  }
  .education .edu-1 {
    margin: 5% 0 10% 0;
  }
  div[class^="project"] > .card {
    margin: auto;
  }
  .project-2, .project-4 {
    margin: 10% 0;
  }
  .card-body {
    background-color: #263d5e;
    color: white;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .sns a {
    font-size: 30px;
    text-decoration: none;
    color: inherit;
  }
}

@media (min-width: 700px) {
  .heroImage-desc {
    margin-top: 3%;
  }
  .heroImage-desc button {
    margin-top: 5%;
  }
  .heroImage-profile .name {
    width: 90%;
    margin-left: auto;
  }
  .heroImage-profile .name h1 {
    font-size: 80px;
  }
  .heroImage-profile .name h2 {
    font-size: 45px;
  }
  .heroImage-profile .intro {
    width: 90%;
    margin-left: auto;
  }
  .heroImage-profile .intro h3 {
    font-size: 25px;
    line-height: 1.5em;
  }
  .heroImage-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heroImage-pic img {
    background-image: url("./img/profile.jpeg");
    /* 表示する画像 */
    width: 280px;
    height: 320px;
    border-radius: 50%;
    background-position: left top;
    border: 5px solid linear-gradient(90deg, #5C258D 0%, #4389A2 20%);
    /* 枠線を付加 */
  }
  .skills-1 {
    margin-bottom: 5%;
  }
  .skills-1 .skill-card-body:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    -webkit-transition: .6s;
    transition: .6s;
  }
  .skills-2 {
    margin-bottom: 3%;
  }
  .skills-2 .skill-card-body:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    -webkit-transition: .6s;
    transition: .6s;
  }
  .skills-3 {
    margin-bottom: 3%;
  }
  .skills-3 .skill-card-body:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    -webkit-transition: .6s;
    transition: .6s;
  }
  .skills-4 {
    margin-bottom: 3%;
  }
  .skills-4 .skill-card-body:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    -webkit-transition: .6s;
    transition: .6s;
  }
  .edu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .edu .edu-1, .edu .edu-2 {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    margin: 3% 0 0 0;
  }
  div[class^="projects_"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .project-1, .project-2 {
    margin: 10% 0;
  }
  .project-3, .project-4 {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */